.rating-style {
  position: absolute;
  top: 16px; /* Отступ от верхнего края .card-item */
  left: 16px; /* Отступ от левого края .card-item */
  background: var(--Black-65, rgba(0, 0, 0, 0.65));
  backdrop-filter: blur(4px);
  color: var(--Warning-500, #ffad49);
  /* font-family: Poppins; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  padding: 4px 8px;
}